<!DOCTYPE html>
<html>
<head>
  <title>Zelp</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCu07gN3GAteWfi18MZ2_ceErgQi-E7DFE">
</script>

<%= yield %>

</body>
</html>
