<!DOCTYPE html>
<html>
<head>
  <title>Zelp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if signed_in? %>
    <%= current_user.username %>
    <%= button_to "Sign Out", session_url, :method => :delete %>
  <% else %>
    <a href="<%= new_session_url %>">Log In</a>
    <a href="<%= new_user_url %>">Sign Up</a>
  <% end %>

  <%= render "layouts/errors" %>

<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCu07gN3GAteWfi18MZ2_ceErgQi-E7DFE">
</script>

<%= yield %>

</body>
</html>
